<div class="container">
    <div class="container text-center" style="margin: 30px">
      <h3>Editar Producto</h3>
    </div>
  
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripcion del Producto</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" formControlName="descripcion" [(ngModel)]="producto.descripcion" [ngClass]="{'is-invalid': formulario.controls['descripcion'].invalid && formulario.controls['descripcion'].touched}" />
        <div *ngIf="formulario.controls['descripcion'].invalid && formulario.controls['descripcion'].touched" class="invalid-feedback">
          Captura descripcion del producto.
        </div>        
      </div>
      <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input type="number" step="any" class="form-control" id="precio" name="precio" formControlName="precio" [(ngModel)]="producto.precio" [ngClass]="{'is-invalid': formulario.controls['precio'].invalid && formulario.controls['precio'].touched}"/>
        <div *ngIf="formulario.controls['precio'].invalid && formulario.controls['precio'].touched" class="invalid-feedback">
          Captura precio del producto.
        </div>        
      </div>
      <div class="mb-3">
        <label for="existencia" class="form-label">Existencia</label>
        <input type="number" class="form-control" id="existencia" name="existencia" formControlName="existencia" [(ngModel)]="producto.existencia" [ngClass]="{'is-invalid': formulario.controls['existencia'].invalid && formulario.controls['existencia'].touched}" />
        <div *ngIf="formulario.controls['existencia'].invalid && formulario.controls['existencia'].touched" class="invalid-feedback">
          Captura existencia del producto.
        </div>                
      </div>

  
      <div class="text-center">
          <button type="submit" class="btn btn-warning btn-sm me-3" [disabled]="formulario.invalid">Editar</button>
          <a href="/" class="btn btn-danger btn-sm">Regresar</a>
      </div>
      
    </form>
  </div>